@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #121212;
  --primary: #e6d9c4;
  --secondary: #ab7d7d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #e6d9c4;
    --secondary: #ab7d7d;
  }
}

@font-face {
  font-family: "Boska";
  src: url("/fonts/Boska-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Boska-LightItalic";
  src: url("/fonts/Boska-LightItalic.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Boska-BoldItalic";
  src: url("/fonts/Boska-BoldItalic.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Boska-Black";
  src: url("/fonts/Boska-Black.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.fontBoska {
  font-family: Boska, sans-serif;
}

.fontBoskaitalic {
  font-family: Boska-LightItalic, sans-serif;
}

.fontBoskaBlack {
  font-family: Boska-Black, sans-serif;
}

.fontBoldItalic {
  font-family: Boska-BoldItalic, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.transition {
  transition: all 300ms ease-in-out;
}

.text-anim {
  animation: fontMorph 0.8s infinite;
}

@keyframes fontMorph {
  0% {
    font-family: "Poppins", sans-serif;
  }
  20% {
    font-family: Boska-LightItalic, sans-serif;
  }
  40% {
    font-family: "Georgia", serif;
  }
  60% {
    font-family: Boska-Black, sans-serif;
  }
  80% {
    font-family: "Courier New", Courier, monospace;
  }
  100% {
    font-family: Boska, sans-serif;
  }
}

.rotateobj {
  animation: rotate infinite;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes rotate {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
